{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block stylesheet %}

{% endblock %}

{% block body %}

{% block hero %} 
    <div class="hero">
        <img class="w-100" src="{{ asset ('assets/icons/banner.png')}}" alt="">
    </div>
    <section class="row justify-content-evenly my-3">
        <div class=" col-2 card bg-secondary" >
            <div class="card-body">
                <h5 class="card-title">Projets</h5>
                <p class="card-texte text-center display-4">{{nombreProjets}}</p>
            </div>
        </div>
        <div class=" col-2 card bg-secondary" >
            <div class="card-body">
                <h5 class="card-title">Taches</h5>
                <p class="card-text text-center display-4">{{nombreTaches}}</p>
            </div>
        </div>
    </section>

{% endblock %} 





{% endblock %}
