{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

{% block hero %}
    <div class="hero bg-secondary py-3 px-3 d-flex justify-content-center align-items-center">
        <h4 class=""> {{ nom }} </h4>
    </div>
{% endblock %} 





{% endblock %}
