{% extends 'base.html.twig' %}

{% block title %}New Taches{% endblock %}

{% block body %}

    <div class="d-flex justify-content-center align-items-center mt-4">
        <h1>Create new Taches</h1>
    </div>
    
    <div class="btn btn-secondary mx-4">
        <a style="text-decoration: none;" href="{{ path('app_taches_index') }}">back to list</a>
    </div>

    {{ include('taches/formTaches.html.twig') }}

{% endblock %}
